<!--
  ../index.html 에 <app-root></app-root>
  여기에 작성한 내용이 해석된 결과가 들어간다.
-->
<div class="container">
	<h3>오늘의 아티클</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quos provident atque nulla quo vel, reiciendis minima quasi beatae doloremque. Tenetur molestiae, quisquam at molestias consequatur vero cupiditate architecto obcaecati.</p>
	<button class="btn btn-primary" (click)="isMake=true" [hidden]="isMake">로그인하기</button>
	<!-- 로그인 폼-->
	<login-form *ngIf="isMake" (loginSuccess)="isMake=false"></login-form>
	<button class="btn btn-info" (click)="isMake2=true" [hidden]="isMake2">회원 가입하기</button>
	<signup-form *ngIf="isMake2" (signupSuccess)="isMake2=false"></signup-form>
</div>


